# files used in building, testing, and inspecting 
*.class
build/
pmd_results.html
nb*.xml
test*.png
test*.jpg;
nbproject
target
analysis/doc
analysis/javadoc
core/doc
core/javadoc
demo/doc
demo/javadoc
gis/doc
gis/javadoc
svm/doc
svm/javadoc
pom.xml.versionsBackup

# Package Files -- at this time, all of these are included in the distribution #
# *.jar
# *.war  not used in forseeable future
# *.ear   ""     ""      ""      ""

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*